###Python is a high-level, interpreter language (translate and execute code line-by-line during runtime), general-purpose programming language widely recognized for its simplicity, readability, and versatility. Created by Guido van Rossum and first released in 1991.

####1. Print Function

- The `print()` function is used to display output on the screen.
- It can print **multiple data types** together.
- By default:
  - `sep` (separator) is a **space `' '`**
  - `end` is a **newline `'\n'`**

In [ ]:
print("Rads",30,"Utkarsh",True)
print("Hello","World", sep='-')
print("Hello", end=" ")
print("World")

Rads 30 Utkarsh True
Hello-World
Hello World

####2. Data Types
Python supports **three main categories of data types**:

- Basic Data Types = integer, float, boolean, string, complex
- Container Data Types = list, tuples, dictionary, sets (can store multiple data types in a single container.)
- User- Defined Data Types = class, objects

#####Basic Data Types

- Python uses **arbitrary precision integers**, so integers have no fixed limit.
- Python `float` supports values up to approximately **1.8 Ã— 10^308**.
Python `int` supports values up to approximately **10^308**.
- Boolean values are `True` and `False`.
- Python supports **complex numbers**.
- Strings can be written using: Single quotes, Double quotes and Triple quotes.

In [ ]:
print(1e308)      # Large integer-like float value
print(1.7e308)    # Near maximum float value

print(True, False)  # Boolean
print(4 + 5j)       # Complex number

print('Rads')
print("Rads")
print("""Rads""")

1e+308
1.7e+308
True False
(4+5j)
Rads
Rads
Rads

##### Container Data Types

- Containers store **multiple values**.
- They can hold **different data types** together.

In [ ]:
print([1, 2, 3, 4, 5])              # List (mutable)
print((1, 2, 3, 4, 5))              # Tuple (immutable)
print({1, 2, 3, 4, 5})              # Set (unique values)
print({"Name": "rads", "age": 20})  # Dictionary (key-value pairs), Provides fast searching using keys.

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'Name': 'rads', 'age': 20}

####3. Comments

In [ ]:
# A piece of code which is not executable by the compiler/interpreter.
# Enhance code readability.
# Can not write multi-line comments in python.

####4. Variables
- Variables are containers for future use.
- They store data values in memory.

####a.) Dynamic Typing
- Python is dynamically typed.
- Variable type is decided at runtime.
- No need to declare variable type explicitly.
- Examples of dynamically typed languages: Python, PHP.

####b.) Dynamic Binding
- A variable can store values of different data types.
- Variables are not permanently bound to one data type.

In [ ]:
# Dynamic typing example
name = "Radhika"
print(name)

# Dynamic binding example
x = "rads"
print(x)

x = 4
print(x)

# Multiple assignments in one line
a = 4; b = 0; c = True
print(a, b, c)

# Tuple unpacking
a, b, c = 3, 4, 5
print(a, b, c)

# Same value to multiple variables
a = b = c = 5
print(a, b, c)

Radhika
rads
4
4 0 True
3 4 5
5 5 5

####5: Keywords
- Python is a **case-sensitive** programming language.
- **Keywords** are words reserved by the programming language.
- Each keyword has a **special meaning**.
- Keywords can act as **commands or parameters**.
- Keywords **cannot be used** as variable names or identifiers.
- High-Level Languages (HLL) like Python are converted into Low-Level Languages (LLL).
- Keywords help the compiler/interpreter understand instructions.
- Python has **33 keywords**.

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

####5. Identifiers

- An **identifier** is the name used to identify: Variables, Functions, Classes, Modules and Other objects
- An identifier must:
  - Start with an **alphabet (aâ€“z, Aâ€“Z)** or **underscore (_)**.
  - Be followed by **letters, digits, or underscores**.
- Identifiers are **case-sensitive**.
- Keywords **cannot** be used as identifiers.

In [ ]:
# Valid identifiers
name = "Radhika"
_age = 22
total_marks = 95
_ = "hi"

print(name, _age, total_marks, _)

# Invalid identifiers (will cause error if uncommented)
# 1name = "test"
# class = 10

Radhika 22 95 hi

####6. Taking User Input

- In Python, the `input()` function is used to take input from the user.
- **User input is always taken as a string** by default.
- String is a **universal format**, any data can be represented as a string.

In [ ]:
# Basic input examples
input()
input("Input your name: ")

Rads
Input your name: Radhika

'Radhika'

#####Type Function

- The `type()` function is used to find the data type of a variable.
- It helps in understanding how Python interprets different values.

In [ ]:
print(type(4))        # int
print(type(4.5))      # float
print(type('4'))      # str
print(type(True))     # bool
print(type(3+4j))     # complex
print(type([1, 2, 3, 4]))  # list

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>

##### Why Type Conversion is Needed?

- Input taken using `input()` is always of type `str`.
- Mathematical operations cannot be performed directly on strings.
- Type conversion is required to convert string inputs into numeric types.

In [ ]:
first_num = input("Enter the first number: ")
second_num = input("Enter the second number: ")

print(first_num)
print(second_num)

result = first_num + second_num
print(result) # Numbers are not added mathematically, added literally (String concatenation).

Enter the first number: 31
Enter the second number: 21
31
21
3121

#####7. Type Conversion

- Type conversion means converting one data type into another.
- Conversion is possible only if it is **valid** and **does not cause data loss**.
- There are **two types of type conversion** in Python:
  a.) Implicit Type Conversion
  b.) Explicit Type Conversion

###### a.) Implicit Type Conversion

- Performed automatically by Python.
- Happens when there is **no risk of data loss**.
- Python converts smaller data types into larger ones when required.

In [ ]:
print(4 + 5.5)        # int + float = float
print(4.5 + 5 + 5j)  # float + int + complex = complex
print(4 + 6 + 10j)   # int + int + complex = complex

9.5
(9.5+5j)
(10+10j)

#####b.) Explicit Type Conversion

- Performed manually by the programmer.
- Uses built-in functions like: `int()`,`float()`,`str()`,`bool()`,`complex()`
- **Type Conversion** is not a permanent operation. **Type Casting** is.
- Type conversion is **not permanent** unless reassigned.
- A new object is created during conversion.
- The original variable remains unchanged.

In [ ]:
a = 4.5
int(a)
print(a)

4.5

##### Type Conversion â€“ Step-by-Step
- Variable `a` stores the float value `4.5`.
- Python converts `4.5` to integer `4`.
- The result is **temporary** and not stored anywhere, so it is discarded.
- `a` was never reassigned.
- It still holds `4.5`, so the output is `4.5`.

In [ ]:
# Permanent type-casting

a = 4.5
a = int(a)

print(a)

4

In [ ]:
print(float('34'))     # str -> float
print(int(4.5))        # float -> int
print(str(5))          # int -> str
print(bool(1))         # int -> bool
print(complex(4))      # int -> complex
print(list("HELLO!"))  # str -> list
print(tuple("HELLO!")) # str -> tuple
print(set("HELLO!"))   # str -> set

In [ ]:
# Solving the User Input Addition Problem.

first_num = int(input("Enter the first number: "))
second_num = int(input("Enter the second number: "))

print(first_num + second_num)

Enter the first number: 31
Enter the second number: 21
52

#### 8. Literals

- Literals are **raw data values** given directly to a variable.
- They represent fixed values stored in memory.
- Types of literals in Python:
  - Numeric Literals
  - String Literals
  - Boolean Literals
  - Special Literals

#####Numeric Literals

In [ ]:
# Integer literals
a = 0b1001   # Binary literal
b = 100      # Decimal literal
c = 0o354    # Octal literal
d = 0x12e    # Hexadecimal literal
print(a, b, c, d)

# Float literals
float_num = 10.5
float_num2 = 1.5e2   # 1.5 Ã— 10^2
float_num3 = 1.5e-3  # 1.5 Ã— 10^-3
print(float_num, float_num2, float_num3)

# Complex literal
x = 3.14j
print(x, x.real, x.imag)

9 100 236 302
10.5 150.0 0.0015
3.14j 0.0 3.14

String Literals

In [ ]:
string = 'Radhika'
strings = "My name is Radhika"
char = "R"  # Python has no char type; single characters are strings

multiline_str = """My name is
Radhika."""

unicode = u"\U0001F098"   # Unicode literal (emoji)
raw_str = r"raw\nstring"  # Raw string literal

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

Radhika
My name is Radhika
R
My name is
Radhika.
ðŸ‚˜
raw\nstring

#####Boolean Literals

In [ ]:
# True -> 1, False -> 0

a = True + 4   # True is treated as 1, implicit type conversion
print("a:", a)

b = False + 10 # False is treated as 0, implicit type conversion
print("b:", b)

a: 5
b: 10

#####Special Literal

In [ ]:
# None represents absence of value and is the safest way to declare an empty variable.

a = None
print(a)

#### 9. Operators

- Operators are used to perform operations on variables and values.
- Python supports different types of operators for different purposes.

In [ ]:
# Arithmetic Operators
# Used to perform mathematical operations.

x = 5
y = 2

print(x + y)   # Addition
print(x - y)   # Subtraction
print(x * y)   # Multiplication
print(x / y)   # Division
print(x % y)   # Modulus
print(x ** y)  # Exponentiation
print(x // y)  # Floor division

7
3
10
2.5
1
25
2

In [ ]:
# Comparison Operators
# Used to compare two values.
# Result is always a boolean (True or False).

x = 5
y = 2

print(x > y)
print(x < y)
print(x >= y)
print(x <= y)
print(x == y)
print(x != y)

True
False
True
False
False
True

In [ ]:
# Logical Operators
# Used to combine conditional statements.

x = True
y = False

print(x or y)
print(x and y)
print(not x)
print(not y)

True
False
False
True

In [ ]:
# Bitwise Operators
# Work on binary values.
# Commonly used in low-level programming, robotics, and image processing.

x = 2
y = 3

print(x & y)   # Bitwise AND
print(x | y)   # Bitwise OR
print(x ^ y)   # Bitwise XOR
print(x >> 2)  # Right shift
print(y << 3)  # Left shift
print(~x)      # One's complement

2
3
1
0
24
-3

#####How Bitwise AND works?
#####010
#####110
#####---
#####010

In [ ]:
# Assignment Operators
# Used to assign and update values.
# a++ and ++a are invalid syntax in Python.


a = 3
print(a)

a += 3
print(a)

a -= 3
print(a)

a *= 3
print(a)

a &= 3
print(a)

3
6
3
9
1

In [ ]:
# Identity Operators
# Used to check whether two variables point to the same memory location.
# Operators used: "is" and "is not".

a = 3
b = 3
print(a is b)

a = "Hello"
b = "Hello"
print(a is b)

a = [1, 2, 3]
b = [1, 2, 3]
print(a is b)

a = "Hello-world"
b = "Hello-world"
print(a is not b)

True
True
False
True

In [ ]:
# Membership Operators
# Used to check whether a value exists inside another object.
# Applicable to strings, lists, tuples, sets, and dictionaries.
# Operators used: "in" and "not in".

x = "Delhi"

print("D" in x)
print("d" not in x)

True
True

#### 10. Ifâ€“Else Statements (with Indentation)

- Normally, a program executes **top to bottom**.
- **Branching** allows the program to choose between multiple paths.
- In Python, **indentation defines the block of code**.
- Python does **not** use: Semicolons (`;`) and Curly braces (`{ }`)
- Indentation is **mandatory** and improves **code readability**.
- A block inside `if`, `elif`, or `else` must be **properly indented**.

In [ ]:
# Dummy Login App

# Correct credentials:
# Email: campusx@gmail.com
# Password: 1234

email = input("Type in your email: ")

if '@' in email:
    password = input("Password: ")

    if email == "campusx@gmail.com" and password == "1234":
        print("Welcome.")

    elif email == "campusx@gmail.com" and password != "1234":
        print("Incorrect password.")
        password = input("Give password again: ")

        if password == "1234":
            print("Finally correct.")
        else:
            print("Still incorrect.")

    else:
        print("Incorrect credentials.")

else:
    print("Incorrect email format.")

Type in your email: campusx@gmail.com
Password: 3445
Incorrect password.
Give password again: 1234
Finally correct.

#### Important Notes on Indentation

- Each level of indentation represents a **new block**.
- Incorrect indentation will cause an **IndentationError**.
- Always use **Tab or consistent spaces** (prefer tabs in learning stage).
- Indentation is the **only way** Python identifies blocks.

> In Python, indentation replaces curly braces and defines code blocks.